
<div class="modal fade" id="editarModal{{ producto.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar productos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2>Detalles</h2>
                <div class="card">
                    <div class="card-body">
                        <form action="/editarProducto/{{ producto.id }}" method="post">{% csrf_token %}
                            <input type="hidden" name="id" value="{{ producto.id }}">
                            <div class="form-group form-control-lg">
                                <label for="textoProducto">Producto</label>
                                <input type="text" id="textoProducto" name="textoProducto" value="{{producto.nombre}}"
                                    class="form-control" method="post" required>
                            </div>
                            <div class="form-group form-control-lg">
                                <label for="textoPrecio">Precio</label>
                                <input type="text" id="textoPrecio" name="textoPrecio" value="{{producto.precio}}"
                                    class="form-control" method="post" required>
                            </div>
                            <div class="form-group form-control-lg">
                                <label for="textoUnidad">Unidades</label>
                                <input type="number" id="textoUnidad" name="textoUnidad" value="{{producto.cantidad}}"
                                    class="form-control" method="post" required>
                            </div>
                            <hr> 
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="btn btn-success me-md-2 btn-block" type="submit">Confirmar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
