<div class="modal fade" id="eliminarProducto{{ producto.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">ALERTA</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2>¿Está seguro de eliminar el producto: {{producto.nombre}}?</h2>
                <div class="modal-footer">
                <a href="/eliminarProducto/{{ producto.id }}" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
</div>

